.todo-input {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    padding: 1rem;
    input {
        flex: 1;
        font-size: 1.1rem;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 1px solid gray;
        &:focus {
            border-bottom: 1px solid cyan;
        }
    }
    .add-button {
        width: 5rem;
        height: 2rem;
        margin-left: 1rem;
        border: 1px solid green;
        border-radius: 20px;
        border-width: 2px;
        color: green;
        font-weight: 500;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;        // changed to pointer whenever you put your cursor on this button
        &:hover {
            background: greenyellow;
            color: white;
        }
        &:active {
            background: blueviolet;
        }
    }
};